*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  min-height: 44px;
  min-width: 44px;
}

a {
  text-decoration: none;
  color: inherit;
  min-height: 44px;
  min-width: 44px;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  background: none;
  color: inherit;
  border: none;
}

button:hover {
  cursor: pointer;
}
