:root {
  --dark-bg: #101010;
  --dark-outline: #212121;
  --dark-primary: #141414;
  --dark-light: #a3a3a3;
}

body {
  background-color: var(--dark-bg);
  font-family: 'Manrope', sans-serif;
  color: white;
}

div#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  gap: 1rem;
}

.back-line {
  position: absolute;
  top: -2rem;
  z-index: -1;
  height: 100vh;
  width: 100vw;
  object-fit: cover;
}

.header {
  display: flex;
  padding: 1rem;
  background-color: var(--dark-primary);
  border-bottom: 1px solid var(--dark-outline);
}

.header__brand-logo {
  display: flex;
  gap: 0.5rem;
  margin: auto;
  align-items: center;
}

.header__brand-logo img {
  width: 32px;
  height: 32px;
}

.header__brand-logo p {
  font-weight: 700;
}

.app-note-form,
.app-search-form {
  width: 100%;
  max-width: 45rem;
  background-color: var(--dark-primary);
  border: 1.2px solid var(--dark-outline);
  border-radius: 6px;
  padding: 1rem;
}

.app-note-form h1 {
  font-size: 1.5rem;
  display: inline-block;
  background: #eef6fc;
  background: linear-gradient(to bottom right, #eef6fc 39%, #b0e1fc 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.app-note-form p {
  color: var(--dark-light);
}

.app-note-form__form {
  margin-top: 1.5rem;
}

.app-note-form__button {
  width: 100%;
  background: #b0e1fc;
  background: linear-gradient(to bottom, #b0e1fc 0%, #79a1b7 100%);
  border: 1px solid #cdedff;
  border-radius: 4px;
  color: var(--dark-primary);
  font-weight: 700;
  margin-top: 1rem;
  transition: 0.3s;
}

.app-note-form__button:hover {
  cursor: pointer;
  background: linear-gradient(to bottom, #b0e1fc 0%, #79a1b7 50%);
}

.app-note-form__title-length {
  text-align: right;
}

.app-note-form__input label {
  display: block;
  margin-bottom: 0.8rem;
}

.app-note-form__input input,
.app-note-form__input textarea {
  width: 100%;
  background: transparent;
  border: 1px solid var(--dark-outline);
  border-radius: 4px;
  color: white;
  padding: 0.5rem 1rem;
  resize: vertical;
}

.app-search-form {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.app-search-form__input {
  flex: 1;
}

.app-search-form__input input {
  width: 100%;
  background: transparent;
  border: none;
  color: white;
}

.app-search-form i {
  color: var(--dark-light);
  font-size: 1.3rem;
}

.note-list {
  width: 100%;
  max-width: 78rem;
  margin-block: 1.5rem;
}

.note-list h2 {
  display: inline-block;
  background: #eef6fc;
  background: linear-gradient(to bottom right, #eef6fc 39%, #b0e1fc 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 1rem;
}

.note-list__items-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
  gap: 1rem;
}

.note-card {
  background-color: var(--dark-primary);
  border: 1.2px solid var(--dark-outline);
  border-radius: 6px;
  padding: 0.7rem;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
}

.note-card__title {
  font-weight: 500;
}

.note-card__date {
  font-size: 0.8rem;
  color: var(--dark-light);
}

.note-card__body {
  margin-top: 1rem;
  font-size: 0.9rem;
}

.note-card__actions {
  margin-top: 1rem;
  flex: 1;
  display: flex;
  gap: 1rem;
  align-items: flex-end;
}

.note-card_archive-button:hover,
.note-card_delete-button:hover {
  cursor: pointer;
}

.note-card_archive-button {
  width: 100%;
  background: transparent;
  border: 1px solid #b0e1fc;
  border-radius: 4px;
  color: white;
  transition: 0.3s;
  font-weight: 600;
}

.note-card_archive-button:hover {
  color: var(--dark-primary);
  background: #b0e1fc;
  background: linear-gradient(to bottom, #b0e1fc 0%, #79a1b7 100%);
  border: 1px solid #cdedff;
}

.note-card_delete-button {
  background: transparent;
  border: 1px solid #f03c3c;
  border-radius: 4px;
  transition: 0.3s;
}

.note-card_delete-button i {
  color: #f03c3c;
  transition: 0.3s;
}

.note-card_delete-button:hover {
  background: #f03c3c;
  background: linear-gradient(to bottom, #f03c3c 0%, #842121 100%);
}

.note-card_delete-button:hover i {
  color: white;
}

.empty-note {
  min-height: 16rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.empty-note__wrapper {
  text-align: center;
}

.empty-note__wrapper i {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.app-footer {
  background-color: var(--dark-primary);
  border-top: 1px solid var(--dark-outline);
  padding: 1rem;
  text-align: center;
}

.circle-gradient {
  position: absolute;
  bottom: 0;
  z-index: -1;
  height: 100vh;
  width: 100vw;
  object-fit: cover;
}

.body-circle-gradient {
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.floating-button {
  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 500px;
  padding-inline: 1.5rem;
  padding-block: 0.5rem;
  border: 1.5px solid #8b4ba2;
  gap: 1rem;
  background: linear-gradient(
    180deg,
    rgba(143, 44, 161, 1) 0%,
    rgba(98, 36, 131, 1) 100%
  );
}

.floating-button__item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  transition: 0.2s;
  padding-inline: 1.5rem;
  border-radius: 500px;
}

.floating-button__item:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.detail-container {
  padding: 1rem;
  width: 100%;
  max-width: 60rem;
}

.not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.not-found i {
  font-size: 2rem;
}
